<h1>Restaurants Toevoegen</h1>
<form [formGroup]="restaurantForm" (ngSubmit)="onSubmitRestaurantForm()">
  <div>
      <label>naam</label>
      <input
        type="text"
        formControlName="name" >
  </div>
  <div>
      <label>location</label>
      <input
        type="text"
        formControlName="location" >
  </div>
  <div>
      <label>cutlery</label>
      <input
        type="number"
        formControlName="cutlery" >
  </div>
  <div>
      <label>site</label>
      <input
        type="text"
        formControlName="site" >
  </div>
  <div>
    <label>image</label>
    <input
      type="url"
      formControlName="image" >
</div>
  <button type="submit" [disabled]="!restaurantForm.valid">Voeg Restaurant toe!</button>
</form>
