<h1>Restaurants Toevoegen</h1>
<form class='restaurant-form' [formGroup]="restaurantForm" (ngSubmit)="onSubmitRestaurantForm()">
  <div class='restaurant-form__key-value-pair'>
      <label>Restaurant naam:</label>
      <input
        type="text"
        formControlName="name"
        class='restaurant-form__input'
        placeholder='Grand café Le Connaisseur ;)'>
  </div>
  <div class='restaurant-form__key-value-pair'>
      <label>Plaats:</label>
      <input
        type="text"
        formControlName="location"
        class='restaurant-form__input'
        placeholder='De Bilt'>
  </div>
  <div class='restaurant-form__key-value-pair'>
      <label>Bestekjes:</label>
      <input
        type="number"
        formControlName="cutlery"
        class='restaurant-form__input'
        placeholder='1'>
  </div>
  <div class='restaurant-form__key-value-pair'>
      <label>Website:</label>
      <input
        type="text"
        formControlName="site"
        class='restaurant-form__input'
        placeholder='www.restaurant.nl'>
  </div>
  <div class='restaurant-form__key-value-pair'>
    <label>Afbeelding</label>
    <input
      type="url"
      formControlName="image"
      class='restaurant-form__input'
      placeholder='plaatje.nl'>
</div>
  <button class='restaurant-form__button' type="submit" [disabled]="!restaurantForm.valid">Voeg Restaurant toe!</button>
</form>

<div class="restaurant-form__confirmation is-hidden"><p>++++++++++ Restaurant is toegevoegd :-) ++++++++++</p></div>
